{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>
  Instrument Inventory
</h1>
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Locker Number</th>
        <th>Type</th>
        <th>Brand</th>
        <th>Condition</th>
        <th>Serial Number</th>
        <th>Assigned Student</th>
        <th>View/Edit</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {% for instrument in instruments %}
      <tr>
        <td>{{instrument.locker_assignment}}</td>
        <td>{{instrument.instrument_kind}}</td>
        <td>{{instrument.instrument_name}}</td>
        <td>{{instrument.condition}}</td>
        <td>{{instrument.serial_number}}</td>
        <td>{{instrument.student}}</td>
        <td> <a href="{% url 'inventory:update_instrument' instrument.id %}">Edit/Update</a></td>
      </tr>
      {% endfor %}

    </div>

    <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
    </script>
  </tbody>
</table>
{% endblock %}
</div>
