{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<br>
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Locker Number</th>
        <th>Type</th>
        <th>Brand</th>
        <th>Condition</th>
        <th>Serial Number</th>
        <th>Assigned Student</th>
        <th>View/Edit</th>
      </tr>
    </thead>
    {% if user.is_authenticated %}
    <tbody id="myTable">
      {% for instrument in instruments %}
      <tr>
        <td>{{instrument.locker_assignment}}</td>
        <td>{{instrument.instrument_kind}}</td>
        <td>{{instrument.instrument_name}}</td>
        <td>
          {{instrument.condition}}
          {% if instrument.condition == "broken"%}
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          {% elif instrument.condition == "needs repair soon"%}
          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          {% elif instrument.condition == "decent condition"%}
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          {% elif instrument.condition == "excellent condition"%}
          <div class="progress">
            <div class="progress-bar bg-success progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          {%else%}
          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          {%endif%}

        </td>
        <td>{{instrument.serial_number}}</td>
        <td>{{instrument.student}}</td>
        <td> <a class="btn btn-outline-primary btn-sm" href="{% url 'inventory:update_instrument' instrument.id %}">Edit/Update</a></td>
      </tr>
      {% endfor %}
{%endif%}
    </div>

    <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
    </script>
  </tbody>
</table>
{% endblock %}
</div>
