{% extends 'base.html' %}

{% block title %}Create{% endblock %}

{% block content %}


<h1>{{instrument.student}}'s - {{instrument.instrument_kind.upper}}</h1>

<br/><br/>

<div class="container-fluid"  width=50% height=75%>
    <div class="row">
        <div class="col">
            <div>
                <div >
                    <label><b>Locker Number:</b></label>
                    {{instrument.locker_assignment}}
                </div>
                <br>
                <div >
                    <b>Instrument Group:</b>
                    {{instrument.instrument_kind}}
                </div>
                <br>
                <div>
                    <label><b>Instrument Brand:</b></label>
                    {{instrument.instrument_name}}
                </div>
                <br>
                <div >
                    <label><b>Serial Number:</b></label>
                    {{instrument.serial_number}}
                </div>
                <br>
                <div>
                    <label><b>Assign to Student:</b></label>
                    {{instrument.student}}
                </div>
                <br>

            </div>
        </div>
        <br>

        <div class="col">
         <div class="instrument-check">
            <label>Instrument Case</label>
            {{instrument.case_accessory}}
        </div>
        <br>
        <div class="instrument-check">
            <label class="instrument-check-label">Mouth Piece</label>
            {{instrument.mouth_piece_accessory}}
        </div>
        <br>
        <div class="instrument-check">
            <label>Music Book</label>
            {{instrument.book_accessory}}
        </div>
        <br>
        <div class="instrument-check">
            <label>Reeds</label>
            {{instrument.reeds_accessory}}
        </div>
        <br>
        <div class="instrument-check">
            <label>Ligature</label>
            {{instrument.ligature_accessory}}
        </div>
    </div>

    <div class="col">
        <div class="instrument-check">
            <label>Cork Grease</label>
            {{instrument.cork_grease_accessory}}
        </div>
        <br>

        <div class="instrument-check">
            <label>Cleaning Swab</label>
            {{instrument.swab_accessory}}
        </div>
        <br>
        <div class="instrument-check">
            <label>Instrument Oil </label>
            {{instrument.oil_accessory}}
        </div>
        <br>
        <div class="instrument-check">
            <label>Polshing Cloth</label>
            {{instrument.polishing_cloth_accessory}}
        </div>
    </div>

    <div class="col">
        <label><b>Notes:</b></label>
        {{instrument.notes}}
        <br> <br><br>
    </div>
</div>
    <!-- <input type="cancel" value="cancel" class= "btn btn-outline-danger"></input> -->





    {% endblock %}











<!--
    <h1>{{instrument.instrument_name.capitalize}}</h1>

{{instrument.locker_assignment}}
{{instrument.serial_number}}
{{instrument.student}}
{{instrument.case_accessory}}
{{instrument.mouth_piece_accessory}}
{{instrument.book_accessory}}
{{instrument.reeds_accessory}}
{{instrument.ligature_accessory}}
{{instrument.cork_grease_accessory}}
{{instrument.swab_accessory}}
{{instrument.oil_accessory}}
{{instrument.polishing_cloth_accessory}}
{{instrument.notes}}
{{instrument.}}




-->




<!-- instrument. -->





<!--
locker_assignment
instrument_name
serial_number
student
case_accessory
mouth_piece_accessory
book_accessory
reeds_accessory
ligature_accessory
cork_grease_accessory
swab_accessory
oil_accessory
polishing_cloth_accessory
notes -->
-->
