<div>
    {% url 'public:index' as index_url %}
    <span>{% if request.path == index_url %}Home{% else %}<a href="{{ index_url }}">Home</a>{% endif %}</span>
    {% url 'public:about' as about_url %}
    <span>{% if request.path == about_url %}About{% else %}<a href="{{ about_url }}">About</a>{% endif %}</span>
    {% url 'public:contact' as contact_url %}
    <span>{% if request.path == contact_url %}Contact{% else %}<a href="{{ contact_url }}">Contact</a>{% endif %}</span>
    <span style= "float: right">
        {% if user.is_authenticated %}
            {% url 'inventory:profile' as profile_url %}
            <span>Hi {% if request.path == profile_url %} {{user.username }}{% else %}<a href="{{ profile_url }}">{{ user.username }}</a></span>
            <span><a href="{% url 'inventory:logout' %}">Logout</a></span>
                     {% endif %}
        {% else %}
            <span><a href="{% url 'inventory:login' %}">Login</a></span>
            {% endif %}
    </span>

</div>
