{% extends 'base.html' %}

{% block title %}Create{% endblock %}

{% block content %}


<h1>{{instrument.student}}'s {{instrument.instrument_kin}}</h1>
<!-- <input type="cancel" value="Back" class= "btn btn-outline-danger"></input> -->
<br/><br/>



<form method='POST' >
    {% csrf_token %}

    <div class="container-fluid"  width=50% height=75%>
        <div class="row">
            <div class="col">
                <div>
                    <div >
                        <label><b>Assign a Locker:</b></label>
                        {{form.locker_assignment}}
                    </div>
                    <br>
                    <div >
                        <b>Instrument Group:</b>
                        {{form.instrument_kind}}
                    </div>
                    <br>
                    <div>
                        <label><b>Instrument Brand:</b></label>
                        {{form.instrument_name}}
                    </div>
                    <br>
                    <div >
                        <label><b>Serial Number:</b></label>
                        {{form.serial_number}}
                    </div>
                    <br>
                    <div >
                        <label><b>Instruments Condition:</b></label>
                        {{form.condition}}
                    </div>
                    <br>
                    <div>
                        <label><b>Assign to Student:</b></label>
                        {{form.student}}
                    </div>
                    <br>

                </div>
            </div>
            <br>

            <div class="col-sm">
             <div class="form-check">
                <label>Instrument Case</label>
                {{form.case_accessory}}
            </div>
            <br>
            <div class="form-check">
                <label class="form-check-label">Mouth Piece</label>
                {{form.mouth_piece_accessory}}
            </div>
            <br>
            <div class="form-check">
                <label>Music Book</label>
                {{form.book_accessory}}
            </div>
            <br>
            <div class="form-check">
                <label>Reeds</label>
                {{form.reeds_accessory}}
            </div>
            <br>
            <div class="form-check">
                <label>Ligature</label>
                {{form.ligature_accessory}}
            </div>
        </div>

        <div class="col-sm">
            <div class="form-check">
                <label>Cork Grease</label>
                {{form.cork_grease_accessory}}
            </div>
            <br>

            <div class="form-check">
                <label>Cleaning Swab</label>
                {{form.swab_accessory}}
            </div>
            <br>
            <div class="form-check">
                <label>Instrument Oil </label>
                {{form.oil_accessory}}
            </div>
            <br>
            <div class="form-check">
                <label>Polshing Cloth</label>
                {{form.polishing_cloth_accessory}}
            </div>
        </div>

        <div class="col">
            <label><b>Notes:</b></label>
            {{form.notes}}

            <br> <br><br> <br><br> <br>

            <div>
                <input type="submit" value="Save/Back" class= "btn btn-outline-primary"></input>
            </div>

            <br> <br><br> <br><br> <br>
        </div>
    </div>
</form>



{% endblock %}
